@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-wave {
  animation: wave 2s ease-in-out infinite;
}